/*---Landing Page----*/
.LandingPage {
  text-align: center;
  height: 100vh;
  background-image: url('./assets/pattern.png');
  background-color: #f9f7f3;
  font-family: 'Barlow';
  color: #073D69;
}

::-ms-reveal {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  height: 95%;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.appFooter {
  font-family: 'Barlow';
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 2vh;
  text-align: center;
}

@media only screen and (max-width:600px) {
  .appFooter {
    font-family: 'Barlow';
    font-size: 1vh;
  }

  .welcome {
    flex-direction: column;
  }

  .App-logo {
    height: 60vmin;
    pointer-events: none;
  }
}


/*---Invitation Page----*/
.invitation {
  min-height: 100vh;
}

.frontInvitation {
  background-image: url('./assets/pattern.png');
  background-color: #f9f7f3;
}

.MenuDiv {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5000;
  top: 0;
  background-color: #073D69;
}

.MainContentContainer {
  z-index: 1000;
}

.logoSectionMobil{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoInvitationMobil {
  height: 3vh;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.logoInvitationMobil2 {
  height: 4vh;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logoInvitationDesktop{
  height: 10vh;
}

@media only screen and (max-width:600px) {
  .MenuDiv {
    display: flex;
    justify-content: center;
  }
}